.btn {
    background-color: rgb(83, 212, 255);
    color: #FFF;
    font-size: 1.5em;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgb(83, 212, 255);
}

.quote-btn{
    margin-top: 1em;
}

.announcement-btn{
    margin-top: 2em;
    background-color: rgb(253, 163, 80);
    border: 1px solid rgb(255, 255, 255);

}